@import url("plugins/crossbrowser.css");

* {margin:0;padding:0;outline:none;border:none;}

body {line-height:14px;background:white url("/images/bg/body.jpg") repeat-x;font:normal 14px "Trebuchet MS", Verdana, Arial, sans-serif;color:#33261A;}

a {color:#90992B;text-decoration:none;}
a:hover {text-decoration:underline;}

a.button {font-size:12px;color:white;text-decoration:none;background:url("/images/bg/menu.png") repeat-x;padding:5px 14px;}

p {margin-bottom:10px;}

h1, h2, h3, h4, h5, h6 {font:normal 24px  "Georgia", "Times New Roman", serif;*font-weight:bold;}
h1 {font-size:34px;color:white;margin-bottom:20px;}
h1 span {display:block;text-transform:none;font-weight:bold;text-transform:uppercase;}
h2 {padding-bottom:5px;margin-bottom:5px;border-bottom:dashed 1px #33261A;}
h2.home {width:380px;}
h3 {font-size:20px;padding-bottom:5px;margin-bottom:10px;border-bottom:dashed 1px #33261A;}

#main {margin:0 auto;width:1000px;height:600px;display:table;background:url("/images/bg/home.jpg") 0 100px no-repeat;}

/*Top*/
#top {float:left;width:1000px;height:160px;text-transform:uppercase;font-size:18px;}
#top img {float:left;margin-top:40px;}
#top ul {height:30px;float:right;margin:50px 20px 0 0;}
#top li {float:left;display:inline;margin-right:60px;}
#top li small {display:block;font-size:10px;}
#top li a {color:#33261A;}
#top li a:hover {color:#74BCA8;text-decoration:none;}
#top li a:hover small {color:#9BD291;}

/*Content*/
#content {float:left;width:860px;padding:0 50px 0 40px;position:relative;}
#content #tag {position:absolute;right:-13px;top:-42px;z-index:999;}
#content #photo {position:absolute;right:20px;top:40px;z-index:998;}

#content_cms {background:#E3DCCA url("/images/bg/content.jpg") repeat-x;float:left;padding:20px;}

/*Home*/
#home_text {float:left;width:380px;height:180px;overflow:hidden;}

#featured {float:left;width:1000px;margin-top:40px;}
#featured div {float:left;width:280px;}
#featured div.middle {margin:0 30px;}

/*Footer*/
#footer {float:left;font-size:11px;width:100%;background-color:#33261A;border-top:dotted 1px #2E2217;text-align:center;padding:10px 0;margin-top:30px;color:white;}

/*Classes*/
div.notice {clear:both;border:solid 2px #9EB310;background-color:#EAECD2;color:#9EB310;padding:3px 5px;}
div.error {clear:both;border:solid 2px #BF3B8E;background-color:#FDB5AF;color:#BF3B8E;padding:3px 5px;text-align:center;font-style:italic;font-weight:bold;}

.break {clear:both;}