<h1>In honnor of a woman, wife, mother,<br/> ant, grandmother, friend <br/>and a servant of God... <span>We love you.</span></h1>
<%= image_tag "tag.png", :alt => "Cerimonial Services Information", :title => "Cerimonial Services Information", :id => "tag" %>
<%= image_tag "tiana.png", :alt => "Ana Maria", :title => "Ana Maria", :id => "photo" %>
<h2 class="home"><%= @page.name %></h2>
<div id="home_text">
	<%= @page.body.summary 500 %>
</div>
<div id="featured">
	<div>
		<h3>Last Photos</h3>
		
	</div>
	<div class="middle">
		<h3>Recent Testimonials</h3>
	</div>
	<div>
		<h3>Recent Messages</h3>
	</div>
</div>